@{
    ViewData["Title"] = "Home Page";
}

<div class="opener">
    <h1 class="display-4">Welcome</h1>
    <p>We are trying to workout deployment with AWS.</p>
    <p>
        This is the landing page of my new app. Under construction.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="col-md-6">

</div>