@{
    ViewData["Title"] = "Home Page";
}

<div class="opener">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is the landing page of my new app. Under construction.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="col-md-6">
    <h1 class="display-4">MEET THE MIRROR</h1>
    <p>
        This isn't just a mirror. It's a cardio class, it's a yoga studio, it's a boxing ring, it's your new personal trainer,
        and it's so much more.
    </p>
</div>